body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(./assets/candy-crush-background-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(169, 165, 165, 0.5) inset, 0 1px 0 #fff;
}

.grid div {
    height: 68px;
    width: 68px;
    background-size: contain;
    margin-top: 5px;
}

.score-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(169, 165, 165, 0.5) inset, 0 1px 0 #fff;
}

.score-board h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: red;
}

#score {
    font-family:'Courier New', Courier, monospace;
    color: lightseagreen;
    text-align: center;
    width: 100%;
    font-size: 2rem;
}


/* mediun screen */
@media (max-width: 35em) {
    .grid {
        height: 500px;
        width: 500px;
    }

    .grid div {
        height: 50px;
        width: 50px;
    }

    .score-board {
        height: 50px;
        width: 70px;
    }

    .score-board h3 {
        font-size: 1rem;
        margin: 0;
    }

    #score {
        margin: 0;
        font-size: 1rem;
    }
}

/* small screen 480 */ 
@media (max-width: 24.999em) {
    .grid {
        height: 300px;
        width: 300px;
    }

    .grid div {
        height: 30px;
        width: 30px;
    }

    .score-board {
        height: 50px;
        width: 70px;
    }

    .score-board h3 {
        font-size: 1rem;
        margin: 0;
    }

    #score {
        margin: 0;
        font-size: 1rem;
    }
}
