body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(./assets/candy-crush-background-2.png);
    background-size: cover;
}

.grid {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.grid div {
    height: 68px;
    width: 68px;
    background-size: contain;
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.score-board h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: red;
}

#score {
    font-family:'Courier New', Courier, monospace;
    color: lightseagreen;
    text-align: center;
}